body{
    width:1200px;
    margin:auto;
    
}
                    /*Header*/
header{
    position:relative;
    /*background-image:url(pics/aviation_bg.jpg);
    background-size: cover;*/
    height:675px;
}

#up{
    position: fixed;
    width:50px;
    bottom: 50px;
    right:50px;
    z-index: +1;
    opacity: 0.7;
}
nav{position:absolute;
    z-index: +1;
    right:10px;
    top:10px;
    width:700px;
    text-align: right;
    padding:10px 10px 10px 10px;
    
    
}
li{
    display: inline;
}
nav a {
    background-color: #FFE1FF;
    font-size: 20px;
    font-family: Verdana;
    border: 2px solid black;
    border-radius: 10px;
    padding: 4px;
    box-shadow:2px 2px 4px rgba(0, 0, 0, 0.7);
 
}  
a{
    font-weight: bold;
    color:black;
    text-decoration: none;
}
nav a:hover{
    background-color: #AB82FF;
    box-shadow: 2px 2px 4px #CDC9C9;
}


#anc{
   position:absolute;
   bottom:10px;
  font-size: 25px;  
}
  @-webkit-keyframes rotating {
    from{
       transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.prop{
    opacity: 0.8;
    position:absolute;
    z-index: +1;
    width:80px;
    border-radius: 50%;
    border:1px solid black;
    
}
#rightprop{
    margin: 355px 0px 0px 730px;
    animation: rotating 0.1s reverse linear infinite;
}
#leftprop{
    margin: 355px 0px 0px 389px;
    animation: rotating 0.1s linear infinite;
}
#uksatse{
    position: absolute;
    z-index: +1;
  left:20px;
  top:20px;
}
#uksatse a img{
    width: 100px;
}
#intro{
    position: absolute;
    margin:475px 0px 0px 350px;
    text-align: center;
    font-size:40px;
    font-family: Arial;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    
}
#av{
    margin-left:20px;
}
#na{
    margin-left: 460px;
}
#co{
    margin-left:385px ;
}
#plane{
  
    top:35px;
    position: absolute;
    z-index: 0;
    width: 1200px;
}

                    /*Header ends here*/
                    /*Section Video*/
#video{
     background-color: #FAEEDD;
    height: 580px;
}
video{
    width:900px;
    margin-left:150px;
}
                    /*Section Video ends here*/




                     /*Article- Section who*/
 #char13{
     width: 1200px;
 }
#who,#characteristics{
    background-color: #ADD8E6;
}
.comparisson{
    font-family: cursive;
    font-size: 22px;
    width:400px;
    height:500px;
    float:left;
    padding:0px 100px 0px 100px;
}
.cursive{
    font-family: inherit;
}
.cop{
    width:400px;
    height:300px;
}

                      /*Article- Section who ends here*/
                        /*Article- Section characteristics*/
.leftp,.rightp{
    height:250px;
     line-height: 250px;
}
.rightp{
    background-color: #78DBE2;
}
.pis,.ris{
    position: relative;
    border-radius: 20px;
    height: 250px;
    margin:0 20px;
    box-shadow:2px 2px 4px rgba(0, 0, 0, 0.7);
}
.pis{
    float:left;
}
.ris{
    float: right;
}
.text{
    padding-left: 20px;
    font-size: 30px;
    font-family: serif;
}

                    /*Article- Section characteristics ends here*/
                    /*Article- Section about*/
#about{
    background-color: #FFF0F5;
    height:630px;
}
#about div{
    height: 250px;
}
#about div img{
    border-radius: 20px;
    margin:0 20px;
    height: 250px;
    box-shadow:2px 2px 4px rgba(0, 0, 0, 0.7);
}
#born{
    float:left;
}
#uni{
    float:right;
}
#invite{
   margin-top:20px;
}
#about div p,#aandh div p,figcaption,h1{
    font-family: 'Slabo 27px', serif;
}
                    /*Article- Section about ends here*/
                    /*Article- Section Hobbies*/
figure{
    float:left;
    width:400px;
    height:250px;
    text-align: center;
    font-size: 30px;
}
figure img{
    border-radius:20px;
    height: 200px;
    box-shadow:2px 2px 4px rgba(0, 0, 0, 0.7);
}
#aandh{
    height:780px;
    background-color: #EEE9E9;
}
#hob{
    clear:both;
    float: right;
    text-align: right;
    margin-right:500px;
}
#hob p img{
    width:200px;
}
                    /*Article- Section Hobbies*/
                    /*Article- Section contact*/
#contact{
    height:400px;
    clear: both;
     background-color: #EEDD82;
}
#form{
    float: left;
    margin-left: 100px;
}
#social{
     background-color: #EEDD82;
    float: right;
    margin-right: 200px;
}
#message{
    width: 400px;
    height: 200px
}
#social a img{
    width:100px;
}
#social a img:hover{
    transform: scale(1.2);
}
                    /*Article- Section contact ends here*/

footer{
    clear: both;
}


h1 {
    text-align: center;
     font-size: 30px;
    font-weight: bold;
    
}
p{
    font-size:22px;
    font-family: sans-serif;
}


.flash{
    position:absolute;
    width: 10px;
    height: 10px;
    border-radius:50%;
    top: 325px;
}
#flashleft{
    
    left:40px;
}
#flashright{
    
    right:40px;
}


.flashr{
        background: #FF6347;
        
    }

  #flashright{
        transition: background 0.0s ease-in-out;
    }
    .flashl{
        background: #00FF7F;
    }

  #flashleft{
        transition: background 0.0s ease-in-out;
    }
    
   .pis:hover,.ris:hover,#about div img:hover,figure img:hover,#hob p img:hover,.cop:hover{
        transform: scale(2,2);
    }
    header,#video,#about,#aandh,#contact{
            box-shadow: inset 0px 0px 50px black;
    }
    
    #univer p,#aandh p{
        margin-left: 20px;
    }
#btn{
    border-radius: 10px;
    font-size: 50px;
    background-color: #EEE8AA;
}
#btn:hover{
    background-color: #DAA520;
}
#logosend{
    width: 40px;
}
EMBED{
    position:absolute;
    z-index: +1;
    left:100px;
}
#weather{
   display:none;
}
#videoclouds{
    width:1200px;
    position:absolute;
    z-index: auto;
    margin-left: 0px;
}

.dropbtn{
    display: none;
}


